// color
$color-bg-white: #ffffff;
$color-bg-green: #3F5D45;
$color-bg-lighten-green: #EAF0ED;
$color-bg-yellow: #FFE180;

$color-green: #3F5D45;
$color-lighten-green: #8DA291;

// font size
$font-size-title: 24px;
$font-size-title2: 36px;
$font-size-subtitle: 20px;
$font-size-paragraph: 16px;
$font-size-remark: 16px;
$font-size-placeholder: 20px;
$font-size-label: 16px;

// font family
$font-family-title: "Roboto-Medium;";
$font-family-title2: "Roboto-Medium;";
$font-family-subtitle: "Roboto-Medium";
$font-family-paragraph: "Roboto-Regular";
$font-family-remark: "Roboto-Regular";
$font-family-placeholder: "Roboto-Regular";
$font-family-label: "Roboto-Italic";

// breakpoint
$mq-pad: 768px;
$mq-mobile: 520px;
