.product {
  .product-intro {
    @include size(940px, 496px);
    margin: 0px 42px 55px 42px;
    position: relative;
    &__img {
      @include size(100%);
      background-image: url('../image/toa-heftiba.jpg');
      background-size: cover;
      background-position: 100% 60%;
    }
    .product-title {
      top: 7%;
      right: 5%;
    }
    .product-subtitle {
      top: 12%;
      right: 10%;
    }
  }
  .product-content {
    @include size(940px, 1460px);
    @include flex(space-between);
    margin: 0px auto;
    .product-nav {
      &__item {
        @include size(300px,65px);
        @include flex(center);
        list-style: none;
        border: 1px solid #EAF0ED;
        font-size: 24px;
        color: #3F5D45;
        font-weight: 500;
      }
      &__head {
        background-color: #3F5D45;
        color: #EAF0ED;
      }
      &__hover {
        background-color: #EAF0ED;
      }
    }
    .product-list {
      width: 620px;
      &__items {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
      }
      &__paginaion {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        margin-top: 20px;
      }
    }
  }
}

